/* Global */

/* Colors
 * #c0b283 - Pale Gold
 * #dcd0c0 - Silk
 * #f4f4f4 - Paper
 * #373737 - Charcoal
 */

li {
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline;
}

ul {
  margin: 0;
  padding: 0;
  display: inline-block;
  vertical-align: middle;
}

body {
  background-color: #f4f4f4;
  color: #373737;
  font-family: 'Lato', sans-serif;
}

.full-height {
  height: 100%;
}

.lighter {
  font-weight: lighter;
}

.no-padding {
  padding: 0;
}

.no-margin {
  margin: 0;
}


/* Nav */

.nav-wrapper {
  display: flex;
  margin-bottom: 40px;
  width: 100%;
  background: white;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.3);
  z-index: 1000;
}

.nav-container {
  padding: 15px;
}

.main-nav {
  float: right;
  padding-left: 25px;
}

.nav-a {
  color: #c0b283;
}

.nav-a:hover {
  text-decoration: none;
  font-weight: bolder;
  color: #c0b283;
}
.nav-a:focus {
  text-decoration: none;
  outline: none;
}


/* Landing */

.landing-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  z-index: 1;
}


/* Portfolio */

.portfolio-container {
  margin-top: 50px;
  padding-top: 25px;
  z-index: 1;
}

